.gradle
/.gradle/*
/local.properties
/.idea/*
/.idea/copyright/*
/.idea/libraries/*
/.idea/dictionaries/*
/.idea/workspace.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
tuts.iml
/build/*
/gradle/*
/.gradle/*
/tuts.iml
